@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap');

.header {
  //position: absolute;
  //top: 0;
  padding: 1rem 9rem;
  z-index: 1000;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4.5rem;
}
