<header class="header navbar navbar-expand-lg navbar-dark vw-100">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#">
      <img ngSrc="assets/logo/6756254_268.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Bootstrap
    </a>
    <div class="right-nav d-flex gap-3">
      <a href="#" class="text-white text-decoration-none">Manage bookings</a>
      <a href="#" class="text-white text-decoration-none">Log in | Register</a>
    </div>
  </div>
</header>
