<header class="header navbar navbar-expand-lg navbar-dark vw-100 {{!isLandingPage ? 'px-2' : ''}}">
  <div class="container-fluid d-flex align-items-center {{isLandingPage ? 'justify-content-between' : 'justify-content-start gap-2'}}">
    <button *ngIf="!isLandingPage" class="btn btn-secondary back-button d-flex gap-2 justify-content-center align-items-center"
            (click)="goBack()"><i class="fa-solid fa-angle-left"></i></button>
    <a class="navbar-brand" href="#">
      <img *ngIf="isLandingPage" ngSrc="assets/logo/6756254_268.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Bootstrap
    </a>
    <div *ngIf="isLandingPage" class="right-nav d-flex gap-4">
      <a href="#" class="text-white text-decoration-none d-flex gap-3 justify-content-center align-items-center hover-underline">
        <i class="fa-solid fa-user-tie"></i>
        Driver
      </a>
      <a href="#" class="text-white text-decoration-none d-flex gap-3 justify-content-center align-items-center hover-underline">
        <i class="fa-solid fa-car"></i>
        Manage bookings
      </a>
      <a href="#/login" class="text-white text-decoration-none d-flex gap-3 justify-content-center align-items-center hover-underline">
        <i class="fa fa-user" aria-hidden="true"></i>
        Log in | Register
      </a>
    </div>
  </div>
</header>
