<div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="vehicleModalLabel">Vehicle Information</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div *ngIf="vehicle">
          <p-card>
            <p-header>
              <i class="pi pi-car text-primary fs-3"></i> {{ vehicle.name }}
            </p-header>
            <div class="row">
              <div class="col-md-6">
                <img [src]="vehicle.vehicleImage" class="img-fluid rounded shadow" alt="Vehicle Image">
              </div>
              <div class="col-md-6">
                <table class="table table-bordered mt-3">
                  <tr><th>Model</th><td>{{ vehicle.model }}</td></tr>
                  <tr><th>Year</th><td>{{ vehicle.year }}</td></tr>
                  <tr><th>Type</th><td>{{ vehicle.type }}</td></tr>
                  <tr><th>Seats</th><td>{{ vehicle.seats }}</td></tr>
                  <tr><th>Price per Day</th><td>${{ vehicle.price }}</td></tr>
                </table>
              </div>
            </div>
          </p-card>
        </div>
      </div>

      <div class="modal-footer">
        <button pButton label="Close" icon="pi pi-times" class="btn btn-secondary" data-bs-dismiss="modal"></button>
        <button pButton label="Book Now" icon="pi pi-check" class="btn btn-success" (click)="checkout()"></button>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<app-address-modal
  [display]="showAddressModal"
  (close)="handleAddressModalClose($event)">
</app-address-modal>

<app-auth-modal
  [display]="loginToProceed"
  (close)="handleLoginModalClose($event)">
</app-auth-modal>
