.search-box {
  padding: 1rem 9rem;
  margin-top: 5rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
}

.btn-warning {
  color: #fff;
  font-weight: bold;
}

.return-location {
  color: #828287;
}
