.search-box {
  padding: 1rem 9rem;
  margin-top: 2rem;
  z-index: 1000;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
}

.return-location {
  color: #828287;
}

.dropdown-suggestions {
  position: absolute;
  background-color: white;
  max-height: 200px;
  min-width: 40%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 999;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

