.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  flex-direction: column;
}

.auth-box {
  width: 400px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.auth-header h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    outline: none;
  }
}

.password-group {
  display: flex;
  align-items: center;

  .toggle-password {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    i {
      font-size: 1rem;
      color: #333;
    }
  }
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  margin-top: 1rem;
  color: #28a745;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
