<div class="auth-container overflow-hidden">
  <app-header class="position-absolute start-0 top-0 bg-dark" [isLandingPage]="false"></app-header>
  <div class="auth-box">
    <div class="auth-header">
      <h2>Reset Password</h2>
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="input-group password-group">
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="New Password" formControlName="newPassword" autocomplete="new-password" />
        <button type="button" class="toggle-password" (click)="togglePassword()">
          <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
        <div *ngIf="isFieldInvalid('newPassword')" class="error-message">
          <small *ngIf="resetForm.get('newPassword')?.hasError('required')">New Password is required</small>
          <small *ngIf="resetForm.get('newPassword')?.hasError('minlength')">Minimum 6 characters</small>
        </div>
      </div>

      <div class="input-group password-group">
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="off" />
        <button type="button" class="toggle-password" (click)="togglePassword()">
          <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
        <div *ngIf="confirmPasswordError" class="error-message">
          <small>{{ confirmPasswordError }}</small>
        </div>
      </div>

      <button pButton type="submit" class="btn bg-dark w-100 text-white" [disabled]="isLoading" [loading]="isLoading">Reset Password</button>
    </form>

    <p class="success-message" *ngIf="resetSuccess">Your password has been reset successfully!</p>
  </div>
</div>
